/* adicionando fonte */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    font-family: Montserrat;
}

h{
    font-family: "Montserrat", sans-serif;
}

.container{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

header{
    padding: 10px;
    background-color: #02A28F;
    color: white;

}

#title{
    margin-left: 70px;
}


.imageBanner > img{
    border-radius: 10px;
    width: 100%;
    margin: 0 2rem 0 60px;
}.imageBanner > img:hover{
    transform: translateY(-7px);
    transition-duration: 0.5s;
}

.side-cards{
   display: flex;
   flex-direction: column;
   gap: 1em;
   margin: 1rem 0 2rem 4rem;
}

.side-cards > h2{
    background-color: #02A28F;
    color: white;
    border-radius: 10px;
    margin-right: 30px;
    width: 80%;
    align-self: baseline;
    padding: 10px;
}

.cards{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1rem;
    box-shadow: #0001 4px 4px 4px 4px;
    width: 80%;
    border-radius: 10px;
    margin-top: 1rem;
    padding: 5px;

}.cards > img{
    border-radius: 10px;
    width: 23%;
    margin-top: 1.5rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}.cards > #card-title{
    margin-top: 15rem;
    font-size: 1px;
}.cards:hover{
    cursor:pointer;
    box-shadow: #02A28F 0 0 5px ;
    transform: translateY(-7px);
    transition-duration: 0.5s;
}


.cards-content{
    margin-top: 15px;
}

#recent-posts-header{
    display: flex;
    width: 100%;
    margin-left: 30px;
    border-radius: 10px;
    justify-items: center;
    align-items: center;
    gap: 30vh;
    
    
} #recent-posts-header > h1, a{
    padding: 10px 10px 10px 10px;
    color: white;
}

.rp-cards-row{
    margin-left: 30px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
}

.rp-card{
    box-shadow: #0001 4px 4px 4px 4px;
    width: 100%;
    height: auto;
    border-radius: 10px;  
     
}.rp-card > img{
    width: 100%;
    padding: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}.rp-card > p{
    width: 100%;
}.rp-card > p, .rp-title-card, h3{
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
}.rp-card:hover{
     cursor:pointer;
    box-shadow: #02A28F 0 0 5px ;
    transform: translateY(-7px);
    transition-duration: 0.5s;
}

#categories-title{
    width: 65%;
    border-radius: 10px;
    padding: 20px, 30px , 20px, 10px;
}

.categories{
    margin-left: 3rem;
}

.categories-name{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.categories-name > li{
    display: flex;
    justify-content: space-between;
    width: 25rem; 
    margin-bottom: 8px;
}

.categories-name > h3{
    font-weight: 600;
    color: #616161;
}
.categorie{
    color: #02A28F;
}.dt-card{
    color:#616161;
}

.rp-card-content{
    padding: 1rem 2rem;
}

.rp-card-content > h2{
    font-size: 25px;
} 

.recent-posts{
    margin-left:7vh ;
}

@media only screen and (max-width: 768px) {
    
    header{
        padding: 10px;
        background-color: #02A28F;
        color: white;
        justify-content: center;
        text-align: center;
        width: 100%;
    } 

    #title {
     margin-left: 0;
    }

    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .imageBanner > img{
        border-radius: 10px;
        width: 100%;
        margin: 0;
    }
    .imageBanner{
        margin: 1rem;
        
        justify-self: center;
    }

    .side-cards > h2 {
        background-color: #02A28F;
        color: #ffffff;
        border-radius: 10px;
        width: 90%;
        text-align: center;
        padding: 10px;
        align-self: center;
        margin-right: 0;
        
    }

    #title-post-cards{
        align-content: center;
    }

    .cards-title{
        font-size: clamp(1rem, 4vw, 2rem);
    }

    .side-cards {
        display: flex;
        flex-direction: column;
        gap: 1em;
        margin: 0 0 2rem 0;
        width: 100%;
    }

    .cards{
        align-self: center;
    }

    .rp-cards-row{
        justify-content: center;
        justify-items: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
        width: 100%;
    }

    .recent-posts {
        margin-left: 1rem;
    }

    #recent-posts-header {
        display: flex;
        
        margin-left: 2px;
        border-radius: 10px;
        justify-self: center;
        justify-content: center;
        gap: 2rem;
    }

    .rp-card{
        width: 90%;
    }

    .rp-cards-row {
        margin-left: 0;
    
    }

    .categories-name{
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
    }
    .categories-name > li{
        display: flex;
        justify-content: space-between;
        width: 25rem; 
        margin-bottom: 8px;
    }

    #categories-title{
        width: 100%;
        border-radius: 10px;
        justify-self: center;
    }

    .categories{
        justify-items: center;
        margin-left: 1rem;
        margin-right: 1rem;
    }


}
