/* adicionando fonte */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    font-family: Montserrat;
}

h{
    font-family: "Montserrat", sans-serif;
}

.container{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    gap: 4rem;
}

header{
    padding: 10px;
    background-color: #02A28F;
    color: white;


}  
.imageBanner{
    margin-left: 50px;
    margin-top: 1rem;
}
.imageBanner > img{
    border-radius: 10px;
    width: 120%;
}.imageBanner > img:hover{
    transform: translateY(-7px);
    transition-duration: 0.5s;
}

.side-cards{
    margin-top: 1.7rem;
    margin-right: 20px;
    margin-left: 150px;
}

.side-cards > h2{
    background-color: #02A28F;
    color: white;
    border-radius: 10px;
    padding-left: 1rem;
    height: 3rem;
    padding-top: 5px;
    margin-right: 30px;
    width: 69%;
}

.cards{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1rem;
    box-shadow: #0001 4px 4px 4px 4px;
    width: 70%;
    border-radius: 10px;
    margin-top: 1rem;
    padding: 2px;

}.cards > img{
    border-radius: 10px;
    width: 23%;
    margin-top: 1.5rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}.cards > h2{
    margin-top: 15rem;
}.cards:hover{
    cursor:pointer;
    box-shadow: #02A28F 0 0 5px ;
    transform: translateY(-7px);
    transition-duration: 0.5s;
}


.cards-content{
    margin-top: 15px;
}

#recent-posts-header{
    display: flex;
    width: 100%;
    margin-left: 30px;
    border-radius: 10px;
    gap: 70%;
    height: 8vh;
} #recent-posts-header > h1, a{
    padding: 10px 10px 10px 10px;
    color: white;
}

.rp-cards-row{
    margin-left: 30px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.rp-card{
    box-shadow: #0001 4px 4px 4px 4px;
    width: 50%;
    border-radius: 10px;
    
    
}.rp-card > img{
    width: 100%;
    padding: none;
}.rp-card > p{
    width: 50%;
}.rp-card > p, h2, h3{
    padding-left: 1rem;
    padding-top: 3px;
    padding-bottom: 3px;
}

#categories-title{
    width: 75%;
    border-radius: 10px;

}

.categorie{
    color: #02A28F;
}.dt-card{
    color:#616161;
}